
// Button Shapes & sizes
//
// 가장 기본적인 모양 - 사각형 모양을 갖음
// 길이에 상관없이 사용 가능
// class="btn btn-sm"
//
.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none; // 사용자가 텍스트를 선택 할 수 있는지 지정함.
  border: $btn-border-width solid transparent;
  background-color: transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.btn-sm {
  @include button-size($btn-padding-sm-y, $btn-padding-sm-x, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

.btn-lg {
  @include button-size($btn-padding-lg-y, $btn-padding-lg-x, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}


.btn + .btn {
  margin-left: 4px;
}

// 동그란 모양을 갖는 스타일
// 최대 2자까지 노출될 수 있음 (주의)
// class="btn-circle btn-circle-sm"
//
.btn-circle {
  display:inline-block;
  color: $body-color;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: $btn-border-width solid transparent;
  background-color: transparent;
  @include button-circle-size($btn-circle-padding-y, $btn-circle-padding-x, $btn-circle-width, $btn-circle-height, $btn-circle-font-size, $btn-circle-line-height, $btn-circle-border-radius);
  width: $btn-circle-width !important;
  height: $btn-circle-height  !important;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}
.btn-circle-xs {
  @include button-circle-size($btn-circle-padding-xs-y, $btn-circle-padding-xs-x, $btn-circle-width-xs, $btn-circle-height-xs, $btn-circle-font-size-xs, $btn-circle-line-height-xs, $btn-circle-border-radius);
}
.btn-circle-sm {
  @include button-circle-size($btn-circle-padding-sm-y, $btn-circle-padding-sm-x, $btn-circle-width-sm, $btn-circle-height-sm, $btn-circle-font-size-sm, $btn-circle-line-height-sm, $btn-circle-border-radius);
}
.btn-circle-lg {
  @include button-circle-size($btn-circle-padding-lg-y, $btn-circle-padding-lg-x, $btn-circle-width-lg, $btn-circle-height-lg, $btn-circle-font-size-lg, $btn-circle-line-height-lg, $btn-circle-border-radius);
}

/*
.btn + .btn,
.btn-circle + .btn-circle {
  margin-left: ($spacer / 2);
}
*/

// Button Styles
//

// 테마컬러가 배경이 되는 버튼 스타일로 글자색은 흰색으로 적용됨
//
@each $color, $value in $theme-colors {
  .btn-contained-#{$color} {
    @include button-contained-variant($color);
  }
}

// 테마컬러가 테두리와 글자색으로 적용되는 버튼 스타일
//
@each $color, $value in $theme-colors {
  .btn-outlined-#{$color} {
    @include button-outlined-variant($color);
  }
}

// 글자 또는 아이콘만 노출되는 버튼 스타일
//
@each $color, $value in $theme-colors {
  .btn-text-#{$color} {
    @include button-text-variant($color);
  }
}

