
.card {
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;
  background-color: $card-bg;
  background-clip: border-box;
  word-wrap: break-word;
}

.card-header {
  padding: $card-padding-y $card-padding-x;
  background-color: $card-header-bg;
  border-bottom: $card-border-width solid $card-border-color;
  border-radius: $border-radius $border-radius 0 0;
  margin: 0;

  &:first-child {
    border-radius: $border-radius $border-radius 0 0;
  }
}

.card-body {
  padding: $card-padding-y $card-padding-x;
}

.card-footer {
  padding: $card-padding-y $card-padding-x;
  background-color: $card-footer-bg;
  border-top: $card-border-width solid $card-border-color;

  &:last-child {
    border-radius: 0 0 $border-radius $border-radius;
  }
}

// Close 버튼을 포함할 경우
.card-header,
.card-body {
  position: relative;
  .btn-close {
    position: absolute;
    top: $card-padding-y;
    right: $card-padding-x;
  }
}


// 내용이 없는 상태
// 비활성 상태가 아니라 내용이 없는 상태인 경우에만 사용함.
// blankslate와 함께 사용하였음.
.card.is-blank {
  .card-header {
    @include is-component-blank($card-blank-bg);
  }

  .card-body {
    @include is-component-blank($card-blank-bg);

    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
  }
}


// Card Group
//

.card-group {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
}

.card-group-responsive {
  display: flex;
  flex-flow: row wrap;
  background-color: $card-bg;
  border: $border-width solid $card-border-color;
  overflow: auto;

  .card-group {
    flex-wrap: nowrap;

    .card {
      border: 0;

      + .card {
        @extend .border-left;
      }
    }
  }
}