

.data-group {}

.data-group-header {
  font-weight: $font-weight-bold;
  border-top: 1px solid $border-color--light;
  border-bottom: 1px solid $border-color--light;
}
.data-group-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.data-group-header {
  .data-group-row {
    background-color: rgba($black, 0.04);
  }
}

.data-group-body {
  .data-group-row:hover {
    background-color: rgba($black, 0.02);
  }
  .data-group-row.is-active {
    background-color: rgba($primary, 0.04);

    &:hover {
      background-color: rgba($primary, 0.08);
    }
  }
  .data-group-row + .data-group-row {
    border-top: 1px solid $border-color--light;
  }
}

.data-group-cell {
  @extend .py-1;
  @extend .px-2;
  list-style: none;
  flex: 1 1 auto;
}


