

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  display: block;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  border: $list-group-border-width solid $list-group-border-color;
  color: $body-color;
  background-color: $list-group-bg;
  & + & {
    border-top-width: 0;
  }
}

// 링크/버튼 아이템인 경우
a.list-group-item,
button.list-group-item {
  text-align: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  &:hover {
    @include is-component-hover($list-group-hover-color, $list-group-hover-bg);
  }
}


.list-group-item.is-active {
  @include is-component-active($list-group-active-color, $list-group-active-bg);
  font-weight: $font-weight-bold;
}


.list-group-item.is-selected {
  @include is-component-icon-selected($list-group-selected-color, $list-group-selected-padding-x, $list-group-selected-bg);
  font-weight: $font-weight-bold;
}


.list-group-item.is-disabled,
.list-group-item[disabled]{
  @include is-component-disabled();
}


//  border와 border-radius가 제거된 스타일
//
.list-group-noedge {
  > .list-group-item {
    border-width: 0 0 $list-group-border-width;
    &:last-child {
      border-bottom-width: 0;
    }
  }
}


.list-group-borderless {
  .list-group-item {
    border-color: transparent !important;
  }
}