
.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.page-item {
  display: inline-block;

  & + & {
    margin-left: $spacer / 2;
  }
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $page-link-width;
  height: $page-link-height;
}

.page-ellipsis {
  color: $gray-500;
  margin-right: $spacer / 2;
  margin-left: $spacer / 2;
}

.page-item-icon {
  width: $page-icon-size;
  height: $page-icon-size;
  margin: $page-icon-spacer; // 글자와의 높이 차이가 발생하여 추가함.
}