

// Slideout
//
// 우측에서 나타나는 모달
// .modal의 형태와 트랜지션을 그대로 사용하며, 나타나는 형식이 다름 (2020-12 현재)
// 추후 재정된 스타일과 트랜지션이 필요함.

.slideout {
  padding: 0;
  margin: 0;
  .modal-dialog {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    min-height: 100vh;
    max-height: 100vh;

    .modal-container {
      border-radius: 0;
      min-height: 100vh;
      max-height: 100vh;
    }
  }
}




