

// margin과 paddingd를 축약(abbreviated)한 속성(property)에 $spacer의 크기(size)를 붙여 클래스를 생성
//
@each $property, $abbreviated in (margin: m, padding: p){
  @each $size, $length in $spacers {
    .#{$abbreviated}t-#{$size},
    .#{$abbreviated}y-#{$size}{
      #{$property}-top: $length;
    }
    .#{$abbreviated}r-#{$size},
    .#{$abbreviated}x-#{$size}{
      #{$property}-right: $length;
    }
    .#{$abbreviated}b-#{$size},
    .#{$abbreviated}y-#{$size}{
      #{$property}-bottom: $length;
    }
    .#{$abbreviated}l-#{$size},
    .#{$abbreviated}x-#{$size}{
      #{$property}-left: $length;
    }
    .#{$abbreviated}-#{$size},
    .#{$abbreviated}-#{$size}{
      #{$property}: $length;
    }
  }
}


// margin 유틸리티
//
.m-auto {
  margin: auto ;
}
.mt-auto,
.my-auto {
  margin-top: auto;
}
.mr-auto,
.mx-auto {
  margin-right: auto;
}
.mb-auto,
.my-auto {
  margin-bottom: auto;
}
.ml-auto,
.mx-auto {
  margin-left: auto;
}

