

.svg-icon {
  fill: currentColor;
  width: $font-size-base;
  height: $font-size-base;
  display: inline-block;
  font-size: $font-size-base;
  flex-shrink: 0;
  flex-grow: 0;
  user-select: none;
}


.svg-icon-sm {
  width: $font-size-sm;
  height: auto;
}
.svg-icon-md {
  width: $font-size-base;
  height: auto;
}

.svg-icon-lg {
  width: $font-size-lg;
  height: auto;
}

.svg-icon-xl {
  width: $h3-font-size;
  height: auto;
}