

.switch {
  display: inline-block;
  padding-left: $switch-width;
  height: $switch-height;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.switch-checkbox {
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -1;
}

// switch box
.switch-slider:before {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  vertical-align: middle;
  width: $switch-width;
  height: $switch-height;
  border-radius: $switch-radius;
  background-color: $switch-bgcolor;
  transition: $switch-transition;
}

// switch indicator
.switch-slider:after {
  position: absolute;
  display: block;
  vertical-align: middle;
  content: "";
  top: $switch-padding;
  left: $switch-padding;
  width: $switch-indicator-size;
  height: $switch-indicator-size;
  overflow: hidden;
  border-radius: $switch-radius;
  background-color: $switch-indicator-bgcolor;
  transition: $switch-transition;
}


// switch checked(on)
.switch-checkbox:checked + .switch-slider {
  &:before {
    background-color: $switch-bgcolor-checked;
    transition: $switch-transition;
  }
  &:after {
    top: $switch-padding;
    left: $switch-width - ($switch-indicator-size + $switch-padding);
    background-color: $switch-indicator-bgcolor-checked;
    box-shadow: 0 0 $switch-focus-width $switch-focus-width rgba($black, 0.3);
    transition: $switch-transition;
  }
}

.switch:focus,
.switch:active {
  .switch-slider:before,
  .switch-checkbox:checked + .switch-slider:before {
    //box-shadow: 0 0 0 $switch-focus-width rgba($switch-bgcolor-checked, 0.3);
  }
}

.switch-checkbox:disabled,
.switch-checkbox:checked:disabled {
  + .switch-slider:before {
    cursor: default !important;
    background-color: $disable !important;
    box-shadow: none !important;
  }
  + .switch-slider:after {
    box-shadow: none !important;
  }
}

