
.table {
  width: 100%;
  border-collapse: collapse;
  color: $table-color;
  background-color: $table-bg;

  th, td {
    padding: $table-cell-padding-y $table-cell-padding-x;
    border-bottom: $table-border-width solid $table-border-color;
    text-align: inherit;
    vertical-align: top;
  }
  thead {
    th, td {
      border-top: $table-border-width solid $table-border-color;
      border-bottom: ($table-border-width * 2) solid $table-border-color;
    }
  }
}

caption {
  caption-side: bottom;
  padding: $table-cell-padding-y $table-cell-padding-x;;
  text-align: inherit;
  font-style: italic;
  font-size: $font-size-sm;
}


// Border
//
.table-bordered {
  border: $table-border-width solid $table-border-color;

  th, td {
    border: $table-border-width solid $table-border-color;
  }
}


// Stripe
//
.table-striped tbody tr:nth-child(odd) {
  background-color: $table-bg-alt;
}


// Selection
//
.table tbody tr[aria-selected="true"] {
  color: $table-active-color;
  background-color: $table-active-bg;
}


// Hover
//
.table-hover tbody tr:hover {
  background-color: $table-hover-bg;
}
