
//
// Toast Notifications
//

// Mixin
//
@mixin toast-variant($color, $base-color: $color, $base-border-color: $color){
  border-left: $toast-border-width solid $base-border-color;
  .toast-icon {
    color: $base-color;
  }
}

.toast {
  visibility: hidden;
  width: $toast-width;
  margin: $toast-padding-y 0;
  padding: $toast-padding-y $toast-padding-x;
  background-color: $toast-bg;
  background-clip: padding-box;
  color: $body-color;
  border-radius: $toast-border-radius;
  box-shadow: $toast-box-shadow;


  .btn-close {
    //float: right;
    flex: 0 0 auto; // 타이틀 또는 내용의 길이에 상관없이 모양을 유지함.
    margin-left: auto;
    @extend .btn-circle;
    @extend .btn-text-secondary;
    @extend .btn-circle-xs;
    //@extend .ml-1;
  }
}


.toast-icon {
  float: left;
  font-size: $toast-icon-size;
  @extend .my-auto;
  @extend .mr-2;
}



.toast-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.toast-title {
  font-weight: $font-weight-bold;
  @extend .mb-0;
}

.toast-header {
  width: 100%;
  flex: 1 1 auto;
  @extend .d-flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  @extend .border-bottom;
  @extend .px-0;
  @extend .pb-2;
}

.toast-body {
  width: 100%;
  flex: 1 1 auto;
  font-size: $toast-font-size;
  line-height: $toast-line-height;
  @extend .mr-auto;
  @extend .px-0;
  @extend .py-2;
  footer {
    font-style: italic;
  }
}
.toast-footer {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  @extend .border-top;
  @extend .pt-2;
}


.toast.show {
  opacity: 1;
}

// variation
//
@each $color, $value in $theme-colors {
  .toast-#{$color} {
    @include toast-variant($value);
  }
}


.toast.is-show {
  visibility: visible;
}


.toast-container {
  position: fixed;
  //top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: $spacer * 2;
}