

.tooltip {
  position: absolute;
  display: block;
  margin: $tooltip-margin;
}

.tooltip-inner {
  max-width: $tooltip-max-width;
  padding: $tooltip-padding-y $tooltip-padding-x;
  background-color: $tooltip-bg;
  @include font-size($tooltip-font-size);
  color: $white;
  text-align: center;
  border-radius: $border-radius;
}

.tooltip-arrow {
  position: absolute;
  display: block;
  width: $tooltip-arrow-width;
  height: $tooltip-arrow-height;

  &::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
}


.tooltip-top {
  padding: $tooltip-arrow-height 0;
  .tooltip-arrow {
    bottom: 0;
    left: $tooltip-arrow-width;
    &::before {
      top: 0;
      border-width: $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
      border-top-color: $tooltip-arrow-color;
    }
  }
}

.tooltip-right {
  padding: 0 $tooltip-arrow-height;
  .tooltip-arrow {
    top: calc(50% - (#{$tooltip-arrow-width} / 2));
    left: 0;
    width: $tooltip-arrow-height;
    height: $tooltip-arrow-width;

    &::before {
      right: 0;
      border-width: ($tooltip-arrow-width / 2) $tooltip-arrow-height ($tooltip-arrow-width / 2)  0;
      border-right-color: $tooltip-arrow-color;
    }
  }
}


.tooltip-bottom {
  padding: $tooltip-arrow-height 0;
  .tooltip-arrow {
    top: 0;
    left: $tooltip-arrow-width;
    &::before {
      bottom: 0;
      border-width: 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
      border-bottom-color: $tooltip-arrow-color;
    }
  }
}

.tooltip-left {
  padding: 0 $tooltip-arrow-height;
  .tooltip-arrow {
    top: calc(50% - (#{$tooltip-arrow-width} / 2));
    right: 0;
    width: $tooltip-arrow-height;
    height: $tooltip-arrow-width;

    &::before {
      left: 0;
      border-width: ($tooltip-arrow-width / 2) 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
      border-left-color: $tooltip-arrow-color;
    }
  }
}
