
// Custom "Checkboxes & Radios"
//
//
.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: $line-height-base; // 고정된 line-height 사용함!!(주의)
  padding-left: $custom-control-gutter + $custom-control-indicator-size; // 라벨 텍스트와의 거리와 컨트롤 인디케이터의 크기를 더한 값.
}

.custom-control-inline {
  display: inline-flex;
  align-items: center;
  margin-right: $custom-control-spacer-x;
}

.custom-control-input {
  position: absolute;
  top: (($line-height-base - $custom-control-indicator-size) / 2); // 고정된 line-height 사용함!!(주의)
  left: 0;
  z-index: -1; // 레이블 뒤에 입력을 넣어 텍스트가 오버레이되지 않도록 합니다.
  width: $custom-control-indicator-size;
  height: $custom-control-indicator-size;
  opacity: 0;

  // 체크된 상태
  &:checked ~ .custom-control-label::before {
    color: $custom-control-indicator-checked-color;
    border-color: $custom-control-indicator-checked-border-color ;
    @include gradient-bg($custom-control-indicator-checked-bg);
    @include box-shadow($custom-control-indicator-checked-box-shadow);
  }

  // 포커스 -- 클릭 또는 탭하였을 경우 box-shadow 나타남.
  &:focus ~ .custom-control-label::before {
    // 여기서 믹스인은 피드백이 있는지 확인하는 데 사용되지 않습니다.
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
      box-shadow: $custom-control-indicator-focus-box-shadow;
    }
  }

  // 체크 상태가 아닌 경우의 포커스
  &:focus:not(:checked) ~ .custom-control-label::before {
    border-color: $custom-control-indicator-focus-border-color;
  }

  &:not(:disabled):active ~ .custom-control-label::before {
    color: $custom-control-indicator-active-color;
    background-color: $custom-control-indicator-active-bg;
    border-color: $custom-control-indicator-active-border-color;
    @include box-shadow($custom-control-indicator-active-box-shadow);
  }

  // 비활성 요소
  &[disabled],
  &:disabled {
    ~ .custom-control-label {
      color: $custom-control-label-disabled-color;
      &::before {
        border-color: $custom-control-indicator-disabled-border-color;
        background-color: $custom-control-indicator-disabled-bg;
      }
    }
  }
}

// 가상(pseudo)요소에서 사용자 지정 컨트롤을 만듭니다.
.custom-control-label {
  position: relative;
  display: inline-block; // 컨트롤과 수직 정렬을 맞추기 위해 추가함.
  margin-bottom: 0;
  color: $custom-control-label-color;
  line-height: $line-height-base; // 고정돤 line-height 사용함!!(주의)
  cursor: $custom-control-cursor;

  // 컨트롤 지시자(indicator) 배경 컬러와 (when enabled)그라디언트
  &::before {
    position: absolute;
    display: block;
    content: "";
    top: ($line-height-base - $custom-control-indicator-size) / 2; // 고정된 line-height 사용함!!(주의)
    left: -($custom-control-gutter + $custom-control-indicator-size);
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    pointer-events: none;
    background-color: $custom-control-indicator-bg;
    border: $custom-control-indicator-border-width solid;
    border-color: $custom-control-indicator-border-color;
  }
  // 컨트롤 아이콘
  &::after {
    position: absolute;
    display: block;
    content: "";
    top: ($line-height-base - $custom-control-indicator-size) / 2; // 고정된 line-height 사용함!!(주의)
    left: -($custom-control-gutter + $custom-control-indicator-size);
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    background: no-repeat center center / #{$custom-control-indicator-bg-size};
  }
}

// Checkbox
//
// <div class="custom-control custom-checkbox">
//  <input type="checkbox" class="custom-control-input" id="custom-checkbox" name="customCheckbox">
//  <label class="custom-control-label" for="custom-checkbox">Checkbox label</label>
// </div>


.custom-checkbox {
  .custom-control-label::before {
    @include border-radius($custom-checkbox-indicator-border-radius);
  }
  // 체크된 상태
  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      border-color: $custom-checkbox-indicator-indeterminate-border-color;
      @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
      @include box-shadow($custom-checkbox-indicator-indeterminate-box-shadow);
    }
    &::after {
      background-image: escape-svg($custom-checkbox-indicator-icon-checked);
    }
  }

  // 체크된 상태의 비활성
  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {
      border-color: $custom-control-indicator-checked-disabled-border-color;
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
    // 상태가 불확실할 경우
    &:indeterminate ~ .custom-control-label::before {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }

    // 체크된 비활성 상태
    &:checked ~ .custom-control-label::after {
      background-image: escape-svg($custom-checkbox-indicator-icon-disabled);
    }
  }
}

// Radios
//
// <div class="custom-control custom-checkbox">
//  <input type="radio" class="custom-control-input" id="custom-radio" name="customRadio">
//  <label class="custom-control-label" for="custom-radio">Radio label</label>
// </div>

.custom-radio {
  .custom-control-label::before { // 동그란 모양 만들기
    border-radius: $custom-radio-indicator-border-radius;
  }
  // 체크된 상태
  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      background-image: escape-svg($custom-radio-indicator-icon-checked);
    }
  }

  // 비활성 상태
  .custom-control-input:disabled {

    &:checked ~ .custom-control-label::before {
      border-color: $custom-control-indicator-checked-disabled-border-color;
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
    &:checked ~ .custom-control-label::after {
      background-image: escape-svg($custom-radio-indicator-icon-disabled);
    }
  }
}


