
// ------------------------------------------------------------------
// Checkboxes & Radios
//
// 브라우저 고유 스타일을 사용하지 않습니다. (appearance: none)
// 모든 브라우저에서 테마에 따른 모양을 유지합니다.




.form-check {
  display: block;
  padding-left: 0 !important; // gnb.css와 충돌하여 추가함
}

.form-check-input {
  width: $form-check-input-size;
  height: $form-check-input-size;
  margin: $form-check-input-margin-y 0; // 라벨과의 높이를 맞추기 위한 axis-y 여백

  vertical-align: top; // 라벨과의 정렬 맞추기
  position: static; // gnb.css와 충돌하여 추가함

  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid $form-check-input-border-color;

  appearance: none; // 고유 스타일 사용 안함
  color-adjust: exact; // 인쇄를 위한 테마 모양 유지

  &[type="checkbox"] {
    border-radius: 2px;
  }
  &[type="radio"] {
    border-radius: 50%;
  }

  &:focus {
    border-color: $form-check-input-focus-border-color;
    outline: 0;
    box-shadow: $input-btn-focus-box-shadow;
  }

  &:checked {
    background-color: $form-check-input-checked-bg-color;
    border-color: $form-check-input-checked-border-color;

    &[type="checkbox"] {
      background-image:  escape-svg($form-check-input-checkbox-bg-img);
    }
    &[type="radio"] {
      background-image:  escape-svg($form-check-input-radio-bg-img);
    }
  }

  // 불확실한 체크
  &[type="checkbox"]:indeterminate {
    background-image: escape-svg($form-check-input-indeterminate-bg-img);
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
  }

  // :disabled psudo-class 추가
  &[disabled],
  &:disabled {
    ~ .form-check-label {
      opacity: 0.5;
    }
  }
}

.form-check-label {
  display: inline-block;
  margin-left: 4px;
  margin-bottom: 0;
}


// Inline
//
.form-check-inline {
  display: inline-flex;
  align-items: center;
  margin-right: $form-check-inline-margin-x; // .form-check-inline과의 거리.

  > .form-check-input {
    margin-top: $form-check-input-margin-y; // 라벨과의 높이를 맞추기 위한 axis-y 여백
    margin-bottom: $form-check-input-margin-y;
    vertical-align: middle;
  }
}


// Button checkbox
//
.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  margin-bottom: 0 !important;

  &[disabled],
  &:disabled {
    + .btn {
      pointer-events: none;
      filter: none;
      opacity: $form-check-btn-check-disabled-opacity;

    }
  }
}

